body,
html {
  width: 100%;
  background-color:whitesmoke;
  position: relative;
  height: auto;
}
.flex-container {
  background-color:whitesmoke;
}
.main {
  position: relative;
  display: inline;
  margin: 0px;
  cursor: crosshair;

}

#defaultCanvas0 {
  -webkit-box-shadow: 0px 0px 4px 4px #888888;
  box-shadow: 0px 0px 4px 4px #888888;
}

#loadingScreen {
  background-color: RGBA(40,40,40, 0.6);
  width: 100%;
  bottom: 0px;
  height:100%;
  position: fixed;
  z-index: 1000;
  display: block;
  opacity: 1;
  transition: top 2s, opacity 1.5s;
  -webkit-transition: top 2s, opacity 1.5s;
  -moz-transition: top 2s, opacity 1.5s;
  -ms-transition: top 2s, opacity 1.5s;
  -o-transition: top 2s, opacity 1.5s;
}

#loadingText {
  top: 50%;
  color: RGBA(255, 255, 255, 1);
  opacity: 1;
  transition: top 2.5s, opacity 1.5s;
  -webkit-transition: top 2.5s, opacity 1.5s;
  -moz-transition: top 2.5s, opacity 1.5s;
  -ms-transition: top 2.5s, opacity 1.5s;
  -o-transition: top 2.5s, opacity 1.5s;
}

#downloadSVG,
#expandImage {
  background-color: #343a40;
  color: white;
  border: none;
  width: 350px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 30px;
}

#gamedisplay {
  margin: auto;

  margin-left: 50%;
  right: 1504px;
  position: relative;

}

.flex-container {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.buttonRow {
  display: inline-block;

}

.buttonRow button {
  width: 100px;
}


#polytomize {
  display: inline-block;
  color: white;
  margin-left: 50px;
  background-color: #343a40;
  width: 350px;
  cursor: pointer;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
}

.brushes {
  position: relative;
  display: inline-block;
  width: 100%;
  left: 0px;
  margin-top: 20px;
}

.brushes li {
  display: inline-block;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  width: 90px;
  height: 50px;
  line-height: 20px;
  cursor: pointer;
  font-size: 15px;
  vertical-align: top;
}
.brushes button {
  display: inline-block;
  margin-top: 10px;
  width: 90px;
  height: 50px;
  line-height: 20px;
  cursor: pointer;
  font-size: 15px;
  vertical-align: top;  
}
.brushes input {
  width: 55px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
  display:inline;
  border:none;
  margin-right:10px;
}

.brushes #sizing1,
#sizing2 {
  width: auto;
  line-height: 45px;
  cursor: default;
  padding-left:10px;
}

.brushes #eraser {
  cursor: pointer;
}

#file {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 25px;

  background-color: #343a40;
  color: white;
}

#uploadText {
  position: relative;
  margin-top: 30px;
}

#loadThis {}

#saveThis {}

.statistics {
  margin-bottom: 50px;
  display: inline-block;
  border: 1px solid black;
  padding-bottom: 10px;
}

#statsTable {
  margin-left: 25%;
  margin-right: 25%;
}

#statsHeader {}

th {
  width: 50%;
  font-size: 34px;
  padding-bottom: 20px;
  font-weight: 500;
}

tr {
  font-size: 25px;
}

td {

  height: 50px;
  line-height: 25px;
}

th:nth-child(even) {
  text-align: center;
}

td:nth-child(even) {
  text-align: center;
}

td:nth-child(odd) {}

th,
td {
  border-bottom: solid black 1px;
}

#popUp {
  background-color: #343a40;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  position: fixed;
  padding: 0 10 0 10;
  max-width: 140px;
  font-size: 13px;
  left: 120px;
}

.otherOptions {
  position: relative;
  display: block;
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50%;
  -webkit-transform: translate(-400px, 0);
  -ms-transform: translate(-400px, 0);
  transform: translate(-400px, 0);
}

#otherOptionsHeader {
  margin-bottom: 20px;
}
.otherInfo {
  width: 400px;
  position: relative;
  display: block;
  text-align: center;
  margin-left: -200px;
  left: 50%;
  padding-bottom: 200px;
}

h3,
h4,
h1,
h2,h5,
p {
  font-weight: 300;
}

.footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  margin: none;
  text-align: center;
  background-color: #343a40;
  color: white;
}

.footer a {
  color: white;
  font-size: 30px;
  margin-left: 5px;
}

.footer h6 {
  display: inline-block;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 300;
  -webkit-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  transform: translate(0, -3px);
}

.footer a:hover {
  border-radius: 50%;
  color: #0275d8;
}

.noselect {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#options_menu_gear {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index:9999;
  color: RGB(33, 37, 41);
}

#options_menu {
  position: fixed;
  width: 300px;
  height: 500px;
  right: 15px;
  top: 75px;
  background-color:#343a40;
  z-index: 9999;
  opacity: 0;
  display: none;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 5px 0px black;

  box-shadow: 0px 0px 5px 0px black;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#options_menu:after {
  content: "";
  position: absolute;
  right: 16px;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #343a40 transparent;
  z-index: 9998;
}

#options_menu h4 {
  color: white;
  font-weight: 400;
  border-top: 2px solid white;
  padding-top: 15px;
  margin-top: 10px;
}

#function_options td,
tr {
  border: none;
}

#function_options span {
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  width: 100%;
}

#function_options button {
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  width: 240px;
}
#options_table tr{
  height:30px;
  border-bottom: 0px;

}
#options_table td{
  height:30px;
  border-bottom: 0px;
}
.option_input_title{
  font-size:12px;
  line-height: 10px;
  color:white;
  text-align: center;
}
.option_input_title_tr, .option_input_title_tr td{
  height:10px  !important;
  vertical-align: text-bottom;
  color:white;
}
.option_name{
  color:white;
  font-weight:300;
  width: 120px;
  font-size:16px;
  line-height: 10px;
  text-align: center;
}
#options_table .inputs{
  text-align: center;
  vertical-align: middle;
}
#options_table .inputs input{
  width: 50px;
  font-size:13px;
  text-align: center;
  height:20px;
}
#options_table .inputs select{
  line-height: 20px;
  font-size:13px;
  margin-top:5px;
  text-align: center;
  height:20px;
}
/*CSS for pop up menu for setting params for functions*/
#options_menu_additional {
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  z-index: 100;
  margin-top: -100px;
  background-color: RGBA(33, 37, 41, 0.8);
  border-radius: 5px;
  display: none;
  -webkit-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;

}

#options_menu_additional h4 {
  color: white;
  margin-top: 10px;
  font-weight: 400;
}

#options_menu_additional button {
  background-color: white;
  cursor: pointer;
  display: block;
  width: 150px;
  position: absolute;
  margin-top: 20px;
  margin-left: -75px;
  left: 50%;
}

#options_menu_additional span {
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  width: 200px;
  left: 0px;
  line-height: 30px;
  margin-top: 10px;
  float: left;
}

#options_menu_additional .parameters {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  margin-right: 100px;
  text-align: center;
  margin-left: 20px;
}

#options_menu_additional i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}