body,
html {
  width: 100%;
  background-image: url('images/PolyBackground.jpg');
  position: relative;
  height: auto;
}

.main {
  position: relative;
  display: inline;
  margin: 0px;
  cursor: crosshair;

}

#defaultCanvas0 {
  -webkit-box-shadow: 0px 0px 4px 4px #888888;
  box-shadow: 0px 0px 4px 4px #888888;
}

#loadingScreen {
  background-color: RGBA(40, 40, 40, 0.6);
  height: 100%;
  width: 100%;
  bottom: 0px;
  position: fixed;
  z-index: 1000;
  display: block;
  opacity: 1;
  transition: top 2s, opacity 1.5s;
  -webkit-transition: top 2s, opacity 1.5s;
  -moz-transition: top 2s, opacity 1.5s;
  -ms-transition: top 2s, opacity 1.5s;
  -o-transition: top 2s, opacity 1.5s;
}

#loadingText {
  top: 50%;
  color: RGBA(255, 255, 255, 1);
  opacity: 1;
  transition: top 2.5s, opacity 1.5s;
  -webkit-transition: top 2.5s, opacity 1.5s;
  -moz-transition: top 2.5s, opacity 1.5s;
  -ms-transition: top 2.5s, opacity 1.5s;
  -o-transition: top 2.5s, opacity 1.5s;
}

#downloadSVG,
#expandImage {
  background-color: RGB(40, 40, 40);
  color: white;
  border: none;
  width: 350px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 30px;
}

#gamedisplay {
  margin: auto;

  margin-left: 50%;
  right: 1504px;
  position: relative;

}

.container {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.buttonRow {
  display: inline-block;

}

#buttonList {}

.buttonRow li {
  font-size: 15px;
  display: inline-block;
  background-color: RGB(40, 40, 40);
  border: 1px solid RGB(40, 40, 40);
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  width: 90px;
  height: 50px;
  cursor: pointer;
}

#polytomize {
  display: inline-block;
  color: white;
  margin-left: 50px;
  background-color: RGB(40, 40, 40);
  width: 350px;
  cursor: pointer;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
}

.brushes {
  position: relative;
  display: inline-block;
  width: 100%;
  left: 0px;
  margin-top: 20px;
}

.brushes li {
  display: inline-block;
  background-color: RGB(40, 40, 40);
  border: 1px solid RGB(40, 40, 40);
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  width: 90px;
  height: 50px;
  line-height: 20px;
  cursor: pointer;
  font-size: 15px;
  vertical-align: top;
}

.brushes input {
  width: 50px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
}

.brushes #sizing1,
#sizing2 {
  width: 170px;
  line-height: 45px;
  cursor: default;
}

.brushes #eraser {
  cursor: pointer;
}

#file {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 25px;

  background-color: RGB(40, 40, 40);
  color: white;
}

#uploadText {
  position: relative;
  margin-top: 30px;
}

#loadThis {}

#saveThis {}

.statistics {
  margin-bottom: 50px;
  display: inline-block;
  border: 1px solid black;
  padding-bottom: 10px;
}

#statsTable {
  margin-left: 25%;
  margin-right: 25%;
}

#statsHeader {}

th {
  width: 50%;
  font-size: 34px;
  padding-bottom: 20px;
  font-weight: 500;
}

tr {
  font-size: 25px;
}

td {

  height: 50px;
  line-height: 25px;
}

th:nth-child(even) {
  text-align: center;
}

td:nth-child(even) {
  text-align: center;
}

td:nth-child(odd) {}

th,
td {
  border-bottom: solid black 1px;
}

#popUp {
  background-color: RGB(230, 230, 230);
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  position: fixed;
  padding: 0 10 0 10;
  max-width: 140px;
  font-size: 13px;
  left: 120px;
}

.otherOptions {
  position: relative;
  display: block;
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50%;
  -webkit-transform: translate(-400px, 0);
  -ms-transform: translate(-400px, 0);
  transform: translate(-400px, 0);
}

#otherOptionsHeader {
  margin-bottom: 20px;
}

#flowerEffect,
#autoGen {
  position: relative;
  display: inline-block;
  color: white;
  background-color: RGB(40, 40, 40);
  width: 515px;
  height: 32px;
  z-index: 5;
  cursor: pointer;
  font-weight: 400;
  line-height: 32px;
}

#autogen {
  line-height: 32px;
  width: 400px;
}

#colorThreshold {}

#flowerEffectTime {
  position: relative;
  transform: translate(0, -39px);
  -webkit-transform: translate(0, -39px);
  -moz-transform: translate(0, -39px);
  -ms-transform: translate(0, -39px);
  -o-transform: translate(0, -39px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  z-index: 0;
  font-size: 25px;
}

#durationOfFlowerEffect {
  position: relative;

  transform: translate(0, -75px);
  -webkit-transform: translate(0, -75px);
  -moz-transform: translate(0, -75px);
  -ms-transform: translate(0, -75px);
  -o-transform: translate(0, -75px);
  z-index: 0;
  height: 30px;
  font-size: 20px;
  -webkit-transition: z-index 1s, -webkit-transform 1s;
  transition: z-index 1s, -webkit-transform 1s;
  transition: transform 1s, z-index 1s;
  transition: transform 1s, z-index 1s, -webkit-transform 1s;
  -webkit-transition: transform 1s, z-index 1s;
  -moz-transition: transform 1s, z-index 1s;
  -ms-transition: transform 1s, z-index 1s;
  -o-transition: transform 1s, z-index 1s;
}

#popUp2,
#flowerEffectTimePopUp {

  position: absolute;
  background-color: RGB(230, 230, 230);
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 10 0 10;
  font-size: 13px;
  display: none;
}

#popUp2 {
  margin-top: -50px;
  width: 300px;
  margin-left: 660px;

}

#flowerEffectTimePopUp {
  display: none;
  width: 400px;
  margin-left: 515px;
  margin-top: -35px;
}

.otherInfo {
  width: 400px;
  position: relative;
  display: block;
  text-align: center;
  margin-left: -200px;
  left: 50%;
  padding-bottom: 200px;
}



h3,
h4,
h1,
h2,
p {
  font-weight: 300;
}

.footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  margin: none;
  text-align: center;
  background-color: RGB(50, 50, 50);
  color: white;
}

.footer a {
  color: white;
  font-size: 30px;
  margin-left: 5px;
}

.footer h6 {
  display: inline-block;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 300;
  -webkit-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  transform: translate(0, -3px);
}

.footer a:hover {
  border-radius: 50%;
  color: #0275d8;
}

.noselect {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#options_menu_gear {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

#options_menu {
  position: fixed;
  width: 300px;
  height: 500px;
  right: 15px;
  top: 75px;
  background-color: RGBA(40, 40, 40, 1);
  z-index: 1000;
  opacity: 0;
  display: none;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 5px 0px black;

  box-shadow: 0px 0px 5px 0px black;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#options_menu:after {
  content: "";
  position: absolute;
  right: 16px;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent RGB(40, 40, 40, 1) transparent;
  z-index: 9998;
}

.option_menu_item span {
  position: relative;
  width: 60%;
  color: white;
  left: 0px;
  text-align: left;
  padding-left: 10px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.option_menu_item input {
  width: 40%;
  position: relative;
  text-align: center;
  height: 30px;
  font-size: 14px;
}

.option_menu_item button {
  height: 30px;
  color: RGB(50, 50, 50);
  cursor: pointer;
  background-color: white;
  margin-left: 10px;
  vertical-align: baseline;
}

#options_menu h4 {
  color: white;
  font-weight: 400;
  border-top: 2px solid white;
  padding-top: 15px;
  margin-top: 10px;
}

#function_options td,
tr {
  border: none;
}

#function_options span {
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  width: 100%;
}

#function_options button {
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  width: 240px;
}

#options_menu_additional {
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  z-index: 100;
  margin-top: -100px;
  background-color: RGB(40, 40, 40);
  border-radius: 5px;
  display: none;
  -webkit-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;

}

#options_menu_additional h4 {
  color: white;
  margin-top: 10px;
  font-weight: 400;
}

#options_menu_additional button {
  background-color: white;
  cursor: pointer;
  display: block;
  width: 150px;
  position: absolute;
  margin-top: 20px;
  margin-left: -75px;
  left: 50%;
}

#options_menu_additional span {
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  width: 200px;
  left: 0px;
  line-height: 30px;
  margin-top: 10px;
  float: left;
}

#options_menu_additional .parameters {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  margin-right: 100px;
  text-align: center;
  margin-left: 20px;
}

#options_menu_additional i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}