#pointBrush:hover::after{
  content:"Point Brush (P): Click to add individual points";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}

#lineBrush:hover::after{
  content:"Line Brush (B): Click or drag to add scattered points at the current brush size";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}
#eraser:hover::after{
  content:"Eraser (E): Erase what you don\'t want";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}

#triangleMover:hover::after{
  content:"Triangle Flipper (T): Remove or re-add triangles";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}
#sizing1:hover::after{
  content:"Adjust radius of line brush";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}
#sizing2:hover::after{
  content:"Adjust density of line brush (number of vertices in each stroke)";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height:20px;
}
#saveThis:hover::after{
  content:"Save the canvas for next time";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  line-height: 20px;
}

#loadThis:hover::after{
  content:"Load the last canvas saved. You also have to re-upload the image.";
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  line-height: 20px;
  color: RGB(50,50,50);
}
#undo:hover::after{
  content:"Undo the last action";
  position:relative;
  display: inline-block;
  top:15px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  line-height: 20px;
  color: RGB(50,50,50);
}
#redo:hover::after{
  content:"Redo the last action";
  line-height: 20px;
  position:relative;
  display: inline-block;
  top:10px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 5 0 5;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
}
#flowerEffect:hover::after{
  content:"Turn on or off instant coloring of triangles. When off, the canvas will be colored under a set time with a flowering effect";
  position:absolute;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 10 0 10;
  top:-50px;
  max-width:140px;
  width:300px;
  font-size:13px;
  line-height: 20px;
  color: RGB(50,50,50);
  margin-left:180px;
}
#durationOfFlowerEffect:hover::after{
  content:"Set a high value for complete flower effect";
  position:absolute;
  top:70px;
  background-color:RGB(230,230,230);
  border: 1px solid black;
  border-radius:4px;
  padding:0 10 0 10;
  max-width:140px;
  font-size:13px;
  color: RGB(50,50,50);
  margin-left:-95px;
}
